body{
    padding: 100px;
}

.submit{
    margin-top: 50px ;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 25px;
    border-radius: 10px;
}
.Deposit{
    background-color: slateblue;
}
.Withdraw{
    background-color: salmon;
}
.Blance{
    background-color: orange;
}
 